html, body {
    
    margin: 0;
}

.header{
    display: flex;
    gap: 20px;
    background-color: #ffffff;
    padding: auto;
align-items: center;
justify-content: space-between;
}
#wel{
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #d86900;
    margin: 0;
}
#logo{
    width: 80px;
    height: 80px;
}


.nav{
    background-color: #d86900;
    text-align: center;
            padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.365);
    margin: 0%;}
.nav button{
    font:bolder 13px Arial, sans-serif;
    border: 2px solid #000000;
    border-radius: 12%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 8px 20px;
    min-width: 60px;
    text-align: center;
   cursor: pointer;
}

.move{
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: #d86900;
    padding: 20px;
    align-items: center;
    gap: 30px;
    
}
.move a {
    color: #f1f1f1;
    text-decoration: none;
    font-style: b;
}


.about-me{
   width: 90%;
    margin: 20px auto;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    background-color: rgba(1, 1, 255, 0.632);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ;
}
.about-me:hover {
    transform: scale(1.02);
}

.about-me li{
    font-size: 30px;
}
.footer{
    position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e57e08;
  color: white;
  text-align: center;
  padding: 20px;
  z-index: 100;}
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #d86900;
    color: white;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px 16px;
    text-align: left;
}


